    a {color:#49b;}
    a:hover {text-decoration:none;}

    ul.head_menu li a {font-weight:bold;text-decoration:none;font-size:larger;color:#999;display:inline-block;padding:5px 10px 5px;border-radius:4px}
    ul.head_menu {list-style-type:none;}
    ul.head_menu li a:hover {color:#000;}
    ul.head_menu li {display:inline-block;margin:0;}
    ul.head_menu li a.selected {background:#999;color:#fff;}
    ul.head_menu li a.donate {color:#f21;}

    ul.foot_menu li a {font-weight:bold;text-decoration:none;color:#777;}
    ul.foot_menu {text-align:center;list-style-type:none;margin:30px 0px 0px;}
    ul.foot_menu li {display:inline-block;border-right:solid 1px #aaa;margin:0;padding:0px 12px 0px 10px;}
    ul.foot_menu li.last {border-right:none;}
    ul.foot_menu li a:hover {text-decoration:underline;}

    ul.lang_menu li a {color:#ddd;text-decoration:none}
    ul.lang_menu {display:inline-block;float:right;list-style-type:none}
    ul.lang_menu li {display:inline-block;border-right:solid 1px #aaa;margin:0;padding:0px 12px 0px 10px;}
    ul.lang_menu li.last {border-right:none;}
    ul.lang_menu li a:hover {text-decoration:underline;}

    ul.summary_menu {list-style-type:none;}
    ul.summary_menu li {display:inline-block;border:solid 2px #820;margin:0;}

    ul.gallery {list-style-type:none;border-left:solid 1px #aaa;}
    ul.gallery li {margin:0px 0px 10px 10px;}
    ul.gallery li img {display:block;border:solid 2px #000;border-radius:4px;}
    ul.gallery li a {color:#777;font-style:italic;}

    .logo {background:transparent url(/media/img/ngabelogo2_smaller.png) 0px 0px no-repeat;height:60px;width:191px;margin:10px 0px 20px 0px;display:block;}
    
    #title {width:636px;padding:0;margin:0;}
    /*#title h1 {font-size:32px;}*/
    #main_frame .description {color:#333;background:#eee;padding:20px 30px;width:576px;}
    #main_frame .description h3 {border-bottom:solid 3px #dd0010;color:#000}
    .bidi_nav {color:#999;font-size:small;position:relative;top:-15px;height:1px;}
    .bidi_nav #bidi {font-size:45px;}
    .bidi_nav a {font-weight:bolder;text-decoration:none;color:#dd0010}
    .bidi_nav a:hover {color:#000}
    .bidi_nav #count {font-size:30px;position:relative;top:-5px;}
